.page{padding:160px 0 100px}
.heading{display:flex;flex-direction:column;align-items:center;text-align:center;margin-bottom:56px}
.heading h1{max-width:700px;margin:16px 0 10px;font-size:64px;line-height:1.2;letter-spacing:-.05em;font-weight:500;text-transform:capitalize}
.heading p{max-width:400px;margin:0;color:#575757cc;font-size:16px;line-height:1.4;letter-spacing:-.04em;font-weight:500}
.collection{display:flex;flex-direction:column;gap:20px}
@media(max-width:1199px){.page{padding:140px 0 80px}.heading{margin-bottom:48px}.heading h1{font-size:56px}}
@media(max-width:809px){.page{padding:120px 0 60px}.heading{margin-bottom:40px}.heading h1{font-size:44px}}
